@model IEnumerable<Post>
@{
    ViewData["Title"] = "Home Page";
}



<div class="LeftSideBarSetting">


    <div id="" class="">
        <img src="~/img/prof.png" class="profpic" />
        <span>Profile</span>

    </div>

    <div id="" class="">
        <i class="fab fa-facebook-square"></i>
        <span>News feed</span>

    </div>
    <div id="" class="">
        <i class="fab fa-facebook-messenger"></i>
        <span>Messages</span>
    </div>
    <div id="" class="">
        <i class="fas fa-bell"></i>
        <span>Events</span>

    </div>
    <div id="" class="">
        <i class="fab fa-facebook-square"></i>
        <span>Pages</span>

    </div>

    <div id="" class="">
        <i class="fab fa-facebook-messenger"></i>
        <span>GROUPS</span>

    </div>
    <div id="" class="">
        <i class="fab fa-facebook-square"></i>
        <span>Games</span>

    </div>
    <div id="" class="">
        <i class="fab fa-facebook-messenger"></i>
        <span> On this day</span>

    </div>
    <div id="" class="">
        <i class="fab fa-facebook-messenger"></i>
        <span>INTERESTS</span>

    </div>

</div>

<div class="Posts">
    <div class="ListOfPosts">
        <div class="createPost">
            <h6>Create Post</h6>
            <hr>


            <textarea name="" id="createPostArea" cols="30" rows="10" placeholder="What is In Your Mind ?"></textarea>
            <hr>
            <div class="new_Btn">UploadPicture</div><br>
            <input id="html_btn" type='file' /><br>
            <button class="btn-Post">Post</button>


        </div>

        <div class="createPost2 displayAcreation">
            <img src="~/img/prof.png" alt="" class="PrfilePic">
            <span class="ProfileName">Sara Atef</span><br>
            <span class="PostTime">1h</span>
            <i class="fas fa-users"></i>
            <Select>
                <option value=""></option>
                <option value="">Remove Post</option>
            </Select>
            <p class="PostText">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam vel autem sunt distinctio sit saepe, eius dolorum dicta
            </p>

            <img src="">
            <div class="react">
                <span class="Like">
                    <i class="far fa-thumbs-up"></i>
                    <span>Like</span>
                </span>
                <span class="Comment">
                    <i class="far fa-comments"></i>
                    <span>Comment</span>
                </span>
            </div>
            <hr>
            <a href="#" class="ListOfLikes">Sara Atef Liked This And 15 Other</a>
            <div class="comments">

                <div class="pComment">
                    <div class="CommingComment">
                        <img src="~/img/prof.png" alt="" class="commentPic">
                        <textarea name="" id="" placeholder="Type Your Comment Here" class="typeComment"></textarea>
                    </div>
                </div>

            </div>
        </div>
     


        @*<div class="createPost2">
            <img src="~/img/prof.png" alt="" class="PrfilePic">
            <span class="ProfileName">Sara Atef</span><br>
            <span class="PostTime">1h</span>
            <i class="fas fa-users"></i>
            <Select>
                <option value=""></option>
                <option value="">Remove Post</option>
            </Select>

            <p class="PostText">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam vel autem sunt distinctio sit saepe, eius dolorum dicta
            </p>
            <img src="~/img/prof.png" alt="" class="PostImg">

            <div class="react">
                <span class="Like">
                    <i class="far fa-thumbs-up"></i>
                    <span>Like</span>
                </span>
                <span class="Comment">
                    <i class="far fa-comments"></i>
                    <span>Comment</span>
                </span>
            </div>
            <hr>
            <a href="#" class="ListOfLikes">Sara Atef Liked This And 15 Other</a>
            <div class="comments">

                <div class="pComment">
                    <div class="CommingComment">
                        <img src="~/img/prof.png" alt="" class="commentPic">
                        <textarea name="" id="" placeholder="Type Your Comment Here" class="typeComment"></textarea>
                    </div>
                    <div class="commented">
                        <img src="~/img/prof.png" alt="" class="commentPic">

                        <p class="commenttext">
                            <span class="CommentedName">Sara Atef</span><br>
                            <Select class="RemoveComment">
                                <option value=""></option>
                                <option value="">Remove Comment</option>
                            </Select>
                            this my comment
                        </p>
                    </div>
                    <div class="commented">
                        <img src="~/img/prof.png" alt="" class="commentPic">

                        <p class="commenttext">
                            <span class="CommentedName">Sara Atef</span><br>
                            <Select class="RemoveComment">
                                <option value=""></option>
                                <option value="">Remove Comment</option>
                            </Select>
                            this my comment
                        </p>
                    </div>

                </div>

            </div>
        </div>*@


        @foreach (var item in Model)
        {
            <div class="createPost2">
                <img src="~/img/prof.png" alt="" class="PrfilePic">
                <span class="ProfileName">Sara Atef</span><br>
                <span class="PostTime">@item.PostDateTime</span>
                <i class="fas fa-users"></i>
                <Select>
                    <option value=""></option>
                    <option value="">Remove Post</option>
                </Select>

                <p class="PostText">
                   @item.PostContent
                </p>
                @*<img src="~/img/prof.png" alt="" class="PostImg">*@

                <div class="react">
                    <span class="Like">
                        <i class="far fa-thumbs-up"></i>
                        <span>Like</span>
                    </span>
                    <span class="Comment">
                        <i class="far fa-comments"></i>
                        <span>Comment</span>
                    </span>
                </div>
                <hr>
                <a href="#" class="ListOfLikes">Sara Atef Liked This And 15 Other</a>
                <div class="comments">

                    <div class="pComment">
                        <div class="CommingComment">
                            <img src="~/img/prof.png" alt="" class="commentPic">
                            <textarea name="" id="" placeholder="Type Your Comment Here" class="typeComment"></textarea>
                        </div>
                    </div>

                </div>

            </div>

        }

    </div>

        <div class="FriendAcceptReject">

        </div>
    </div>



